:root {
  --size: 100px;
}

div {
  width: var(--size);
  height: var(--size);
  background-color: yellow;
  border: 1px solid black;
  animation: SquareBox 4s 5 2s linear;
}

@keyframes SquareBox {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(400px);
  }
}
